In [43]:
import pandas as pd

In [44]:
pip install openpyxl

Requirement already satisfied: openpyxl in /opt/homebrew/Cellar/jupyterlab/4.1.6_1/libexec/lib/python3.12/site-packages (3.1.3)
Requirement already satisfied: et-xmlfile in /opt/homebrew/Cellar/jupyterlab/4.1.6_1/libexec/lib/python3.12/site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [45]:
df = pd.read_excel("Sao paulo.xlsx")

In [46]:
df

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255","Planalto Paulista, São Paulo",1000,4,8,6,R$ 7.000.000
1,"Rua Aurelia Perez Alvarez, 42","Jardim dos Estados, São Paulo",469-524,3-6,3-6,4,R$ 3.700.000
2,Rua Alba Valdez,"Jardim Reimberg, São Paulo",125,4,3,2,R$ 380.000
3,"Jardim Morumbi, São Paulo",SP,310,3,2,4,R$ 685.000
4,"Rua Tobias Barreto, 195","Mooca, São Paulo",100,3,2,2,R$ 540.000
...,...,...,...,...,...,...,...
10028,Rua Tapuçu,"Vila Sofia, São Paulo",90,2,2,2,R$ 665.000
10029,Rua Guararema,"Bosque da Saúde, São Paulo",600,8,7,5,R$ 2.300.000
10030,Rua Estero Belaco,"Vila da Saúde, São Paulo",200,3,3,6,R$ 1.050.000
10031,"Rua Manuel Onha, , 514","Vila Oratório, São Paulo",180,3,2,2,R$ 2.200\n /Mês
10032,"Rua Barão de Tramandaí, 0","Vila Alpina, São Paulo",117,3,2,2,R$ 270.000

In [47]:
auxiliar = df.loc[10031]

In [48]:
auxiliar

Street                                    Rua Manuel Onha, , 514
City                                    Vila Oratório, São Paulo
propertycard__detailvalue                                     180
quartos                                                         3
banheiros                                                       2
vagas                                                           2
price                        R$ 2.200\n                      /Mês
Name: 10031, dtype: object

In [49]:
def limpa_preco(linha):
    linha["price"] = linha["price"].replace("R$ ", "")
    linha["price"] = linha["price"].replace("\n ", "")
    linha["price"] = linha["price"].replace("/Mês", "")
    linha["price"] = linha["price"].replace("/Ano", "")
    linha["price"] = linha["price"].replace("/Dia", "")
    linha["price"] = linha["price"].replace("                     ", "")
    return linha

In [50]:
#lambda: para cada x aplique a funcao limpa_preco passando (x), para o axis=1 (linha)
df.apply(lambda x: limpa_preco(x), axis = 1)

,Street,City,propertycard__detailvalue,quartos,banheiros,vagas,price
0,"Avenida Itacira, 255","Planalto Paulista, São Paulo",1000,4,8,6,7.000.000
1,"Rua Aurelia Perez Alvarez, 42","Jardim dos Estados, São Paulo",469-524,3-6,3-6,4,3.700.000
2,Rua Alba Valdez,"Jardim Reimberg, São Paulo",125,4,3,2,380.000
3,"Jardim Morumbi, São Paulo",SP,310,3,2,4,685.000
4,"Rua Tobias Barreto, 195","Mooca, São Paulo",100,3,2,2,540.000
...,...,...,...,...,...,...,...
10028,Rua Tapuçu,"Vila Sofia, São Paulo",90,2,2,2,665.000
10029,Rua Guararema,"Bosque da Saúde, São Paulo",600,8,7,5,2.300.000
10030,Rua Estero Belaco,"Vila da Saúde, São Paulo",200,3,3,6,1.050.000
10031,"Rua Manuel Onha, , 514","Vila Oratório, São Paulo",180,3,2,2,2.200
10032,"Rua Barão de Tramandaí, 0","Vila Alpina, São Paulo",117,3,2,2,270.000

In [56]:
def ajusta_aluguel(linha):
    linha["price"] = linha["price"].replace(".","")
    preco = int(linha["price"])
    if (preco < 10000):
        preco = preco * 200
    linha["price"] = preco
    return linha

In [52]:
ajusta_aluguel(auxiliar)

Street                          Rua Manuel Onha, , 514
City                          Vila Oratório, São Paulo
propertycard__detailvalue                           180
quartos                                               3
banheiros                                             2
vagas                                                 2
price                                            440000
Name: 10031, dtype: object

In [57]:
df.apply(lambda x: ajusta_aluguel(x), axis = 1)

AttributeError: 'int' object has no attribute 'replace'